{#
  * This template renders the referenced block as configured in the Paragraph display settings.
#}
{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

{% if custom.extra_classes is defined %}
  {% set classes = classes|merge(custom.extra_classes) %}
{% endif %}

{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </section>
{% endblock paragraph %}
