{# empty Twig template #}
SSSSSSSSSSSSSSSSSSSSSWWWWWWWWWWWWWWWWWWWWWWw
<div class="ftr-top-form">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12"><h2>Become A wholeseller</h2></div>
            <div class="col-sm-6">
            	<div class="form-ftr">
                	<div class="field-bx"><input type="text" placeholder="Name*" /></div>
                    <div class="field-bx"><input type="text" placeholder="Email*" /></div>
                    <div class="field-bx"><input type="text" placeholder="Phone*" /></div>
                    <div class="field-bx"><input type="text" placeholder="Company*" /></div>
                    <div class="field-bx">
                    	<textarea placeholder="Message*"></textarea>
                    </div>
                    <div class="field-btn">
                    	<button type="submit">Submit Info <i class="fa fa-chevron-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            	<div class="form-text">
                	<p>With 65 flavors to choose from and only using the freshest and most natural ingredients possible. Zero preservatives or colorings, just old fashioned, homestyle, hand scooped jams and jellies.</p>
                </div>
            </div>
        </div>
    </div>
</div>
KKKKKKKKKKKKKKKKKKKKKKKK