//------------------------------------------------------------------------------
// WEBFORM.SCSS
// Webform styling.
//------------------------------------------------------------------------------

.captcha {
  float: left;
  width: 100%;
  margin: 0 0 rem(30);
}






//*******************//
//*** BREAKPOINTS ***//
//*******************//

/*  BREAK 1
-------------*/
@include mq(break1) {}

/*  BREAK 2
-------------*/
@include mq(break2) {}

/*  BREAK 3
-------------*/
@include mq(break3) {}

/*  BREAK 4
-------------*/
@include mq(break4) {}
