<h2>{{ 'Share & get your free labels'|t }}</h2>

<p>{{ 'Share Fibre Mood with your Facebook friends & get a free original Fibre Mood label in your local shop.'|t }}</p>

{# LEAVE the js-fb-share-link class in place!!! (tscs) #}
<a class="js-fb-share-link btn btn--solid-red" href="#">{{ 'Share'|t }}</a>
