<a href="{{ url }}" class="blog-article__teaser--link">

  <div class="blog-article__teaser--image" style="background-image:url({{ content.field_teaser_image|render|striptags|trim }});"></div>

  <div class="blog-article__teaser--title">
    
    <h3>{{ label }}</h3>

    {# {{ content.field_teaser_text }} #}

  </div>

</a>