<a href="{{ url }}" class="overview-block__teaser--link" style="background-image:url({{ content.field_teaser_image|render|striptags|trim }});">
  <div class="overview-block__teaser--label">{{ label }}</div>
</a>