<div class="banner light-opacity" style="background-image:url(images/homepage-search-background.jpeg);">
  <div class="container">
    <div class="banner-caption">
      <div class="col-md-12 col-sm-12 banner-text">
        <h1>Connecting thru Food in your Neighbourhood </h1>
        <p>With Authentic Meals and Meaningful Conversations.</p>
        {{ drupal_form('Drupal\\cotfoo_common\\Form\\HomePageSearchForm') }}
      </div>
    </div>
  </div>
</div>