// Visually hide an element
%visuallyhidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  position: absolute;
  overflow: hidden;
}
.visually-hidden {
  @extend %visuallyhidden;
}
