{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}

<div class="header_right">
  <div class="search-header">
    <form{{ attributes }}>
     sasd {{ children }}asdasd
    </form>
  </div>
  <div class="cart">
    <a href="#">Cart <i class="fa fa-shopping-cart"></i> <span>(0)</span></a>
  </div>
</div> form--search_block_form--searchform



