@font-face {
  font-family: 'Avenir';
  src: url('avenir/Avenir-Roman.eot');
  src: url('avenir/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
      url('avenir/Avenir-Roman.woff2') format('woff2'),
      url('avenir/Avenir-Roman.woff') format('woff'),
      url('avenir/Avenir-Roman.ttf') format('truetype'),
      url('avenir/Avenir-Roman.svg#Avenir-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('avenir/Avenir-Heavy.eot');
  src: url('avenir/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
      url('avenir/Avenir-Heavy.woff2') format('woff2'),
      url('avenir/Avenir-Heavy.woff') format('woff'),
      url('avenir/Avenir-Heavy.ttf') format('truetype'),
      url('avenir/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}