<div class="bottom-bg hide"></div>
<footer role="contentinfo" class="page-footer">
	<div class="container">
		{{ page.footer }}
		{% if content %}
        {{ content }}
    {% endif %}
	</div>

	<div class="page-backto-top">
	Back to Top
	</div>
</footer>
