 <header role="banner"> 
	<div class="header-wrap container pad-none">
		{{ page.header }}
			{% if content %}
          {{ content }}
      {% endif %}
		<!-- header icons --> 
		<div class="header-icons">
			<ul>
				<li><a href="#"><img src="/themes/custom/nc_towers/images/search-icon-white.svg" alt=""></a></li>
				<li><a href="#"><img src="/themes/custom/nc_towers/images/translate-icon.svg" alt=""></a></li>
			</ul>
		</div>
		<!-- /header icons -->
	</div>
</header>