<!-- bottom block -->
<div class="home-page-block">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="home-page-block__item">
					<h3>Education Data</h3>
					<div class="home-page-block__item-img">
						<img src="/themes/custom/nc_towers/images/education-data.jpg" alt="">
					</div>
					<p>
						90% of bachelor degree graduates are employed or pursuing further education.
					</p>
					<p><a href="#">See more statistics on schools and career outcomes.</a></p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="home-page-block__item">
					<h3>Skyrocketing Trends</h3>
					<div class="home-page-block__item-img">
						<img src="/themes/custom/nc_towers/images/skyrocketing.jpg" alt="">
					</div>
					<p>
						Browse our visual graphs and find your own insight into college information and the hotest career sectors in North Carolina.
					</p>
					<p><a href="#">Explore Report Builder</a></p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="home-page-block__item">
					<h3>Our Data Sets</h3>
					<div class="home-page-block__item-img">
						<img src="/themes/custom/nc_towers/images/data-sets.jpg" alt="">
					</div>
					<p>
						We provide you with direct access to our constantly-updated data sets. Use the data sets to run analytics and integrate into your own reports.
					</p>
					<p><a href="#">Explore Report Builder</a></p>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- /bottom block -->