$mq-breakpoints: (
  default-mq: '',
  break1: 'all and (min-width: 480px)',
  break2: 'all and (min-width: 768px)',
  break3: 'all and (min-width: 960px)',
  break4: 'all and (min-width: 1200px)',
);
