//------------------------------------------------------------------------------
// GRID CONTAINERS
// This file contains all of the container declarations.
//------------------------------------------------------------------------------

$container-s: 740px;
$container: 1200px;
$container-m: $container;
$container-l: 1400px;

$container-max: 1920px;
