{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ content.field_background_image }}
  {# <div class="container"> #}
    <div class="cta__content">
      <h2>{{ label }}</h2>
      {{ content|without('field_background_image') }}
    </div>
  {# </div> #}
</div>
