<li class="rounded-menu-link" uk-filter-control="filter: [data-tag*='{{ output|lower|replace(' ', '-') -}}']; group: tag"><a class="ukg-dropdown-link" data-filter-value="{{ output|lower|replace(' ', '-') -}}" href="#">{{ output -}}</a></li>
