<div class="tooltip">
  {{ content.field_svg_icon }}
  <div class="tooltiptext">
    <div class="tooltiptextarrow"></div>
      {{ content.field_svg_icon }}
      <h4>{{ name }}</h4>
      {{ content.description }}
  </div>
</div>