@import "base";
@import "cadence";
@import "framework";
@import "icons";

// Inputs
input[type="text"],
input[type="email"], 
input[type="password"], 
input[type="search"], 
input[type="number"], 
input[type="url"],
textarea, 
select {
    width: 100%;
    @include vrc(1, auto, 1, 1.5, $padding: .25 .5);
    -webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	color: #444;
	background: transparent none;
	border: 2px solid #ddd;
	//@include placeholder(#444);
    
	&:focus {
		outline: none;
		background-color: transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
        //@include placeholder(transparent);
	}
	
	&:-webkit-autofill { 
		-webkit-box-shadow: 0 0 0 200em white inset;
	}
    
    .error & {
		background-color: $error-light;
	}
            
    .birthday & {
        width: auto;
    }
} 

select {
    -webkit-appearance: menulist;
	-moz-appearance: menulist;
	appearance: menulist;
}

textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: vr(6);
	max-height: vr(12);
}   
    
// Buttons
button, 
input[type="submit"], 
input[type="button"] {
    @include vrc(1, auto, 1, 1.5, $padding: .25 .5);
	color: #fff;
    border: none;
    -webkit-appearance: none;
}

*[type="button"] {
    background-color: $btn-secondary;
}

*[type="submit"], .btn-submit {
    background-color: $btn-primary;
}

// Labels
label, legend {
	@include vrc(1, auto, 1);
	display: block;
	color: #666;
    
    /* While the practice of using the input placeholder attribute 
    instead of labels is debatable, you may do so without losing 
    accessibility by adding the class "sr-only" to the label. */
    &.sr-only {
        position: absolute;
        left: -10000em;
    }
}

// Inner HTML
form {
       
    h2 {
        margin-bottom: 0;
    }
    
    ul {
        margin: 0 0 vr();
        list-style: none;

    	> li {
            padding: vr(.5) 0;

			&.required:before {
                position: absolute;
                margin-left: -.5em;
				content: "*";
				color: #f00;
			}

			.fields {

				.date-field, 
				.time-field {
					width: 120px;
				}
			}

			.note, .slide-captcha-help {
				@include vrc(.75, 0, .75);
				color: lighten($text-color, 15%);
			}

			fieldset {
				position: relative;

				.note {
					display: inline-block;
				}

				div, ul, ol {
					margin: 0;
					list-style: none;
			
					button.add {
						@include vrc(.75, auto, 1, 1, $padding: 0 .25);
					}
				}
			}
				
            .files-actions {
				margin-top: vr(.125);
			}
            
			.files-list li {
				padding: vr(.25) .9em;
				background-color: #eee;
				margin-bottom: 2px;
				@include clearfix;

				&:before {
					@include icon(file);
					margin-right: .3em;
				}

				a.del-file {
					@include vrc(1,0,1,1,1);
					overflow: hidden;
					text-align: center;
					text-decoration: none;
					color: #aaa;
					float: right;

					&:hover {
						color: $link-color;
					}

					&:before {
						@include icon(times);
						display: block;
					}
				}
			}
            
            &.datetime {
                
            }

			&.submodule {
				
				fieldset {
					margin-top: vr();
					
					> div.actions {
						margin-bottom: vr(.5);
					}
				}

				div.form {
					border-top: 1px solid #e6e6e6;
					padding: vr(.5) 0;
					
                    > ul {
						list-style: none;
						margin: 0;
						
                        > li {
							
                            > label:first-of-type {
								margin-right: .3em;
							}
						}
					}
				}
			}
		}
    }
    
    .field-helper {
        position: absolute;
        z-index: 2;
        
        + input {
            position: relative;
            z-index: 1;
        }
    }
}

// Messages
.message {
    margin-bottom: vr();
	padding: vr();
	color: #fff;
	background-color: $info;
	//@include prefixer(box-shadow, 0 .0675em .5em rgba(0,0,0,0.133));

	div {
		display: inline-block;
	}
	
	a {
        text-decoration: none;
        display: inline-block;
		color: #fff;
        border-bottom: 1px solid;
        
        &:hover {
            border-bottom: none;
        }
	}
	
	&:before {
		@include icon(info-circle);
		margin-right: .3em;
	}

	&.warning, 
    &.alert {
        color: $text-color;
		background-color: $warning;
        
		&:before {
			@include icon(warning);
		}
        
        a {
            color: $text-color;
        }
	}

	&.success {
		background-color: $success;

		&:before {
			@include icon(check-circle);
		}
	}

	&.error {
		background-color: $error;

		&:before {
			@include icon(exclamation-circle);
		}
	}
	
	ol {
		margin: 0 0 0 vr();
	}
	
	p {
		margin: 0 auto;
	}
	
	.close {
		@include vrc(1, .25 0 0 0, .9, 1, 1);
		cursor: pointer;
		display: inline-block;
		border: 1px solid;
		border-radius: 50%;
	}
	
	.clear-filter {
		font-weight: 700;
		text-decoration: none;
		
		&:after {
			@include icon(times);
			margin-left: .133em;
		}
	}
}

// Slide captcha
.slide-container {
    padding-left: vr(.5);
    margin-top: vr(.5);
}

.slide-status {
    @include vrc(.8, .25 0 .5, .75);
    display: inline-block;
	color: lighten($text-color, 15%);

	&:before {
		margin-right: .33em;
		@include icon(lock);
        color: #f00;
	}

	&.slide-open:before {
		@include icon(check);
        color: #0f0;
	}
}

.slide-captcha {
	padding-top: vr() !important;
	text-align: center;
	background-color: #efefef;
    border: 2px solid #e6e6e6;
}

.slide-container {
    max-width: 60%;
	margin: vr(.5) auto !important;
	display: block !important;
}

.slide-captcha-help {
	padding:  0 vr();
}

/*
// Messages
div.message {

	&.success {
		background-color: #8bb93d;
		color: #fff;
		padding: vr(.25) vr(.5);
		margin-bottom: vr();

		&:before {
			@include icon(check-circle);
			margin-right: .3em;
		}
	}

	&.info {
		background-color: #3997D2;
		color: #fff;
		padding: vr(.25) vr(.5);
		margin-bottom: vr();

		div {
			display: inline-block;
		}

		&:before {
			@include icon(info-circle);
			margin-right: .3em;
		}
	}

	&.error {
		background-color: $link-color;
		color: #fff;
		padding: vr(.25) vr(.5);
		margin-bottom: vr();

		&:before {
			@include icon(exclamation-circle);
			margin-right: .3em;
		}
	}
	ol {
		margin: 0 0 0 vr(1.5);
	}
}

// Custom Forms
.custom-form, 
.module-form, 
#giving-form {
	$f-left: 33%;
	$f-right: 62%;
	$f-gutter: 2%;
	$f-offset: .5%;

	text-align: left;
	margin-bottom: vr();
	clear: both;

	%form-label {
		display: block;
		@include breakpoint(3, above) {
			display: inline-block;
			width: $f-left;
			margin-right: $f-gutter;
			text-align: right;
		}
	}

	hr {
		display: none;
	}

	> ul, 
	ul.fields {
		list-style: none;
		margin: 0 0 vr();
		border-top: 2px solid #e6e6e6;

		> li {
			padding: vr(.5) 0;
			border-bottom: 2px solid #e6e6e6;

			> label:first-of-type {
				@extend %form-label;
			}

			&.checkbox > label:first-of-type {
				@include breakpoint(3, above) {
					display: block;
					width: auto;
					margin-right: 0;
					text-align: left;
				}
			}

			&.required {
				> label
				legend {
					&:after {
						content: "*";
						color: red;
					}
				}
			}

			input[type="text"], 
			input[type="password"], 
			input[type="email"], 
			textarea {
				@include input;
			}

			input[type="password"] {
				width: 8em;
			}

			.fields {
				@include breakpoint(3, above) {
				    display: inline-block;
				}

				.date-field, 
				.time-field {
					width: 120px;
				}
			}

			textarea {
				@include breakpoint(3, above) {
					width: $f-right;
				}
				@include breakpoint(3, below) {
					width: 100%;
				}
			}

			select {
				font-size: inherit;
				font-family: inherit;
				max-width: 100%;
				@include prefixer(box-sizing, border-box);
			}

			&.error {
				input[type="text"], 
				input[type="password"], 
				input[type="email"], 
				textarea, 
				select {
					background-color: #fcd0bd;
				}
			}

			.note,
			.slide-captcha-help {
				@include vrc(ratio(-1), 0, 1);
				font-style: italic;
				color: lighten($text-color, 15%);

				@include breakpoint(3, above) {
					margin-left: $f-left + $f-gutter + $f-offset;
					display: block;
				}
			}

			> fieldset {
				position: relative;

				> legend {
					@extend %form-label;
					@include breakpoint(3, above) {
						float: left;
						vertical-align: top;
					}

					.note {
						display: block;
					}
				}

				.note {
					margin-left: 0;
					display: inline-block;
				}

				> {
					div, ul, ol {
						margin: 0;
						list-style: none;
						@include breakpoint(3, above) {
							margin-left: $f-left + $f-gutter + $f-offset;
						}

						button.add:before {
							@include icon(plus);
							font-size: .75em;
							line-height: 1;
							position: relative;
							top: -1px;
						}
					}
				}
			}

			&.files {
				div.files-actions {
					margin-top: vr(.125);
				}
				ul.files-list {
					li {
						padding: vr(.25) .9em;
						background-color: #eee;
						margin-bottom: 2px;
						@include clearfix;

						&:before {
							@include icon(file);
							margin-right: .3em;
						}

						a.del-file {
							@include vrc(1,0,1,1,1);
							overflow: hidden;
							text-align: center;
							text-decoration: none;
							color: #aaa;
							float: right;

							&:hover {
								color: $link-color;
							}

							&:before {
								@include icon(times);
								display: block;
							}
						}
					}
				}
			}

			&.submodule {
				fieldset {
					> div.actions {
						margin-bottom: vr(.5);
					}
				}

				div.form {
					border-top: 1px solid #e6e6e6;
					padding: vr(.5) 0;
					> ul {
						list-style: none;
						margin: 0;
						> li {
							> label:first-of-type {
								margin-right: .3em;
							}
						}
					}
				}
			}

			.slide-container {
				display: inline-block;
				width: $f-right;
			}
		}
	}

	.submodule {
		label {
			display: block;
		}

		.form li + li {
			margin-top: vr(.5);
		}
	}

	button {
		@include button;
		background-color: lighten($text-color, 15%);
	}

	.buttons {
		margin-bottom: vr();
		
		button {
			&.btn-submit, &#btn-save, &[type="submit"] {
				background-color: $link-color;
			}
		}
	}

	section.popup {
		position: fixed;
		background-color: #fff;
		z-index: 10000;
		top: 50px;
		@include prefixer(box-shadow, 0 5px 10px rgba(0,0,0,0.25));
		padding: 0 vr() vr();
		display: none;

		> header {
			background-color: $text-color;
			color: #fff;
			margin: 0 vr(-1) vr(.75);
			padding: vr(.25) vr(.75);
			
			h1 {
					
			}

			.close {
				float: right;
				@include vrc(1, 0 -.5 0 0, 1, 1, 1);
				overflow: hidden;
				text-align: center;
				cursor: pointer;

				&:before {
					@include icon(remove);
					display: block;
				}
			}
		}
	}
}

// Slide captcha
.slide-container {
	padding-left: vr(.5);
	margin-top: vr(.5);
}
.slide-status {
	color: lighten($text-color, 15%);
	display: inline-block;
	@include vrc(ratio(-1), .25 0 .5);

	&:before {
		margin-right: .33em;
		@include icon(lock);
	}

	&.slide-open:before {
		@include icon(check);
	}
}

// QQ Uploader
#document {
	.qq-upload-button {
		@include button;
		display: inline-block;
		&:before {
			@include icon(upload-alt);
			margin-right: .3em;
		}
	}
}

*/