// Font-awesome 4.4.0

@mixin icon($icon-name) {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@if $icon-name == "500px" { content: "\f26e"; }
	@if $icon-name == "adjust" { content: "\f042"; }
	@if $icon-name == "adn" { content: "\f170"; }
	@if $icon-name == "align-center" { content: "\f037"; }
	@if $icon-name == "align-justify" { content: "\f039"; }
	@if $icon-name == "align-left" { content: "\f036"; }
	@if $icon-name == "align-right" { content: "\f038"; }
	@if $icon-name == "amazon" { content: "\f270"; }
	@if $icon-name == "ambulance" { content: "\f0f9"; }
	@if $icon-name == "anchor" { content: "\f13d"; }
	@if $icon-name == "android" { content: "\f17b"; }
	@if $icon-name == "angellist" { content: "\f209"; }
	@if $icon-name == "angle-double-down" { content: "\f103"; }
	@if $icon-name == "angle-double-left" { content: "\f100"; }
	@if $icon-name == "angle-double-right" { content: "\f101"; }
	@if $icon-name == "angle-double-up" { content: "\f102"; }
	@if $icon-name == "angle-down" { content: "\f107"; }
	@if $icon-name == "angle-left" { content: "\f104"; }
	@if $icon-name == "angle-right" { content: "\f105"; }
	@if $icon-name == "angle-up" { content: "\f106"; }
	@if $icon-name == "apple" { content: "\f179"; }
	@if $icon-name == "archive" { content: "\f187"; }
	@if $icon-name == "area-chart" { content: "\f1fe"; }
	@if $icon-name == "arrow-circle-down" { content: "\f0ab"; }
	@if $icon-name == "arrow-circle-left" { content: "\f0a8"; }
	@if $icon-name == "arrow-circle-o-down" { content: "\f01a"; }
	@if $icon-name == "arrow-circle-o-left" { content: "\f190"; }
	@if $icon-name == "arrow-circle-o-right" { content: "\f18e"; }
	@if $icon-name == "arrow-circle-o-up" { content: "\f01b"; }
	@if $icon-name == "arrow-circle-right" { content: "\f0a9"; }
	@if $icon-name == "arrow-circle-up" { content: "\f0aa"; }
	@if $icon-name == "arrow-down" { content: "\f063"; }
	@if $icon-name == "arrow-left" { content: "\f060"; }
	@if $icon-name == "arrow-right" { content: "\f061"; }
	@if $icon-name == "arrow-up" { content: "\f062"; }
	@if $icon-name == "arrows" { content: "\f047"; }
	@if $icon-name == "arrows-alt" { content: "\f0b2"; }
	@if $icon-name == "arrows-h" { content: "\f07e"; }
	@if $icon-name == "arrows-v" { content: "\f07d"; }
	@if $icon-name == "asterisk" { content: "\f069"; }
	@if $icon-name == "at" { content: "\f1fa"; }
	@if $icon-name == "automobile" { content: "\f1b9"; }
	@if $icon-name == "backward" { content: "\f04a"; }
	@if $icon-name == "balance-scale" { content: "\f24e"; }
	@if $icon-name == "ban" { content: "\f05e"; }
	@if $icon-name == "bank" { content: "\f19c"; }
	@if $icon-name == "bar-chart" { content: "\f080"; }
	@if $icon-name == "bar-chart-o" { content: "\f080"; }
	@if $icon-name == "barcode" { content: "\f02a"; }
	@if $icon-name == "bars" { content: "\f0c9"; }
	@if $icon-name == "battery-0" { content: "\f244"; }
	@if $icon-name == "battery-1" { content: "\f243"; }
	@if $icon-name == "battery-2" { content: "\f242"; }
	@if $icon-name == "battery-3" { content: "\f241"; }
	@if $icon-name == "battery-4" { content: "\f240"; }
	@if $icon-name == "battery-empty" { content: "\f244"; }
	@if $icon-name == "battery-full" { content: "\f240"; }
	@if $icon-name == "battery-half" { content: "\f242"; }
	@if $icon-name == "battery-quarter" { content: "\f243"; }
	@if $icon-name == "battery-three-quarters" { content: "\f241"; }
	@if $icon-name == "bed" { content: "\f236"; }
	@if $icon-name == "beer" { content: "\f0fc"; }
	@if $icon-name == "behance" { content: "\f1b4"; }
	@if $icon-name == "behance-square" { content: "\f1b5"; }
	@if $icon-name == "bell" { content: "\f0f3"; }
	@if $icon-name == "bell-o" { content: "\f0a2"; }
	@if $icon-name == "bell-slash" { content: "\f1f6"; }
	@if $icon-name == "bell-slash-o" { content: "\f1f7"; }
	@if $icon-name == "bicycle" { content: "\f206"; }
	@if $icon-name == "binoculars" { content: "\f1e5"; }
	@if $icon-name == "birthday-cake" { content: "\f1fd"; }
	@if $icon-name == "bitbucket" { content: "\f171"; }
	@if $icon-name == "bitbucket-square" { content: "\f172"; }
	@if $icon-name == "bitcoin" { content: "\f15a"; }
	@if $icon-name == "black-tie" { content: "\f27e"; }
	@if $icon-name == "bold" { content: "\f032"; }
	@if $icon-name == "bolt" { content: "\f0e7"; }
	@if $icon-name == "bomb" { content: "\f1e2"; }
	@if $icon-name == "book" { content: "\f02d"; }
	@if $icon-name == "bookmark" { content: "\f02e"; }
	@if $icon-name == "bookmark-o" { content: "\f097"; }
	@if $icon-name == "briefcase" { content: "\f0b1"; }
	@if $icon-name == "btc" { content: "\f15a"; }
	@if $icon-name == "bug" { content: "\f188"; }
	@if $icon-name == "building" { content: "\f1ad"; }
	@if $icon-name == "building-o" { content: "\f0f7"; }
	@if $icon-name == "bullhorn" { content: "\f0a1"; }
	@if $icon-name == "bullseye" { content: "\f140"; }
	@if $icon-name == "bus" { content: "\f207"; }
	@if $icon-name == "buysellads" { content: "\f20d"; }
	@if $icon-name == "cab" { content: "\f1ba"; }
	@if $icon-name == "calculator" { content: "\f1ec"; }
	@if $icon-name == "calendar" { content: "\f073"; }
	@if $icon-name == "calendar-check-o" { content: "\f274"; }
	@if $icon-name == "calendar-minus-o" { content: "\f272"; }
	@if $icon-name == "calendar-o" { content: "\f133"; }
	@if $icon-name == "calendar-plus-o" { content: "\f271"; }
	@if $icon-name == "calendar-times-o" { content: "\f273"; }
	@if $icon-name == "camera" { content: "\f030"; }
	@if $icon-name == "camera-retro" { content: "\f083"; }
	@if $icon-name == "car" { content: "\f1b9"; }
	@if $icon-name == "caret-down" { content: "\f0d7"; }
	@if $icon-name == "caret-left" { content: "\f0d9"; }
	@if $icon-name == "caret-right" { content: "\f0da"; }
	@if $icon-name == "caret-square-o-down" { content: "\f150"; }
	@if $icon-name == "caret-square-o-left" { content: "\f191"; }
	@if $icon-name == "caret-square-o-right" { content: "\f152"; }
	@if $icon-name == "caret-square-o-up" { content: "\f151"; }
	@if $icon-name == "caret-up" { content: "\f0d8"; }
	@if $icon-name == "cart-arrow-down" { content: "\f218"; }
	@if $icon-name == "cart-plus" { content: "\f217"; }
	@if $icon-name == "cc" { content: "\f20a"; }
	@if $icon-name == "cc-amex" { content: "\f1f3"; }
	@if $icon-name == "cc-diners-club" { content: "\f24c"; }
	@if $icon-name == "cc-discover" { content: "\f1f2"; }
	@if $icon-name == "cc-jcb" { content: "\f24b"; }
	@if $icon-name == "cc-mastercard" { content: "\f1f1"; }
	@if $icon-name == "cc-paypal" { content: "\f1f4"; }
	@if $icon-name == "cc-stripe" { content: "\f1f5"; }
	@if $icon-name == "cc-visa" { content: "\f1f0"; }
	@if $icon-name == "certificate" { content: "\f0a3"; }
	@if $icon-name == "chain" { content: "\f0c1"; }
	@if $icon-name == "chain-broken" { content: "\f127"; }
	@if $icon-name == "check" { content: "\f00c"; }
	@if $icon-name == "check-circle" { content: "\f058"; }
	@if $icon-name == "check-circle-o" { content: "\f05d"; }
	@if $icon-name == "check-square" { content: "\f14a"; }
	@if $icon-name == "check-square-o" { content: "\f046"; }
	@if $icon-name == "chevron-circle-down" { content: "\f13a"; }
	@if $icon-name == "chevron-circle-left" { content: "\f137"; }
	@if $icon-name == "chevron-circle-right" { content: "\f138"; }
	@if $icon-name == "chevron-circle-up" { content: "\f139"; }
	@if $icon-name == "chevron-down" { content: "\f078"; }
	@if $icon-name == "chevron-left" { content: "\f053"; }
	@if $icon-name == "chevron-right" { content: "\f054"; }
	@if $icon-name == "chevron-up" { content: "\f077"; }
	@if $icon-name == "child" { content: "\f1ae"; }
	@if $icon-name == "chrome" { content: "\f268"; }
	@if $icon-name == "circle" { content: "\f111"; }
	@if $icon-name == "circle-o" { content: "\f10c"; }
	@if $icon-name == "circle-o-notch" { content: "\f1ce"; }
	@if $icon-name == "circle-thin" { content: "\f1db"; }
	@if $icon-name == "clipboard" { content: "\f0ea"; }
	@if $icon-name == "clock-o" { content: "\f017"; }
	@if $icon-name == "clone" { content: "\f24d"; }
	@if $icon-name == "close" { content: "\f00d"; }
	@if $icon-name == "cloud" { content: "\f0c2"; }
	@if $icon-name == "cloud-download" { content: "\f0ed"; }
	@if $icon-name == "cloud-upload" { content: "\f0ee"; }
	@if $icon-name == "cny" { content: "\f157"; }
	@if $icon-name == "code" { content: "\f121"; }
	@if $icon-name == "code-fork" { content: "\f126"; }
	@if $icon-name == "codepen" { content: "\f1cb"; }
	@if $icon-name == "coffee" { content: "\f0f4"; }
	@if $icon-name == "cog" { content: "\f013"; }
	@if $icon-name == "cogs" { content: "\f085"; }
	@if $icon-name == "columns" { content: "\f0db"; }
	@if $icon-name == "comment" { content: "\f075"; }
	@if $icon-name == "comment-o" { content: "\f0e5"; }
	@if $icon-name == "commenting" { content: "\f27a"; }
	@if $icon-name == "commenting-o" { content: "\f27b"; }
	@if $icon-name == "comments" { content: "\f086"; }
	@if $icon-name == "comments-o" { content: "\f0e6"; }
	@if $icon-name == "compass" { content: "\f14e"; }
	@if $icon-name == "compress" { content: "\f066"; }
	@if $icon-name == "connectdevelop" { content: "\f20e"; }
	@if $icon-name == "contao" { content: "\f26d"; }
	@if $icon-name == "copy" { content: "\f0c5"; }
	@if $icon-name == "copyright" { content: "\f1f9"; }
	@if $icon-name == "creative-commons" { content: "\f25e"; }
	@if $icon-name == "credit-card" { content: "\f09d"; }
	@if $icon-name == "crop" { content: "\f125"; }
	@if $icon-name == "crosshairs" { content: "\f05b"; }
	@if $icon-name == "css3" { content: "\f13c"; }
	@if $icon-name == "cube" { content: "\f1b2"; }
	@if $icon-name == "cubes" { content: "\f1b3"; }
	@if $icon-name == "cut" { content: "\f0c4"; }
	@if $icon-name == "cutlery" { content: "\f0f5"; }
	@if $icon-name == "dashboard" { content: "\f0e4"; }
	@if $icon-name == "dashcube" { content: "\f210"; }
	@if $icon-name == "database" { content: "\f1c0"; }
	@if $icon-name == "dedent" { content: "\f03b"; }
	@if $icon-name == "delicious" { content: "\f1a5"; }
	@if $icon-name == "desktop" { content: "\f108"; }
	@if $icon-name == "deviantart" { content: "\f1bd"; }
	@if $icon-name == "diamond" { content: "\f219"; }
	@if $icon-name == "digg" { content: "\f1a6"; }
	@if $icon-name == "dollar" { content: "\f155"; }
	@if $icon-name == "dot-circle-o" { content: "\f192"; }
	@if $icon-name == "download" { content: "\f019"; }
	@if $icon-name == "dribbble" { content: "\f17d"; }
	@if $icon-name == "dropbox" { content: "\f16b"; }
	@if $icon-name == "drupal" { content: "\f1a9"; }
	@if $icon-name == "edit" { content: "\f044"; }
	@if $icon-name == "eject" { content: "\f052"; }
	@if $icon-name == "ellipsis-h" { content: "\f141"; }
	@if $icon-name == "ellipsis-v" { content: "\f142"; }
	@if $icon-name == "empire" { content: "\f1d1"; }
	@if $icon-name == "envelope" { content: "\f0e0"; }
	@if $icon-name == "envelope-o" { content: "\f003"; }
	@if $icon-name == "envelope-square" { content: "\f199"; }
	@if $icon-name == "eraser" { content: "\f12d"; }
	@if $icon-name == "eur" { content: "\f153"; }
	@if $icon-name == "euro" { content: "\f153"; }
	@if $icon-name == "exchange" { content: "\f0ec"; }
	@if $icon-name == "exclamation" { content: "\f12a"; }
	@if $icon-name == "exclamation-circle" { content: "\f06a"; }
	@if $icon-name == "exclamation-triangle" { content: "\f071"; }
	@if $icon-name == "expand" { content: "\f065"; }
	@if $icon-name == "expeditedssl" { content: "\f23e"; }
	@if $icon-name == "external-link" { content: "\f08e"; }
	@if $icon-name == "external-link-square" { content: "\f14c"; }
	@if $icon-name == "eye" { content: "\f06e"; }
	@if $icon-name == "eye-slash" { content: "\f070"; }
	@if $icon-name == "eyedropper" { content: "\f1fb"; }
	@if $icon-name == "facebook" { content: "\f09a"; }
	@if $icon-name == "facebook-f" { content: "\f09a"; }
	@if $icon-name == "facebook-official" { content: "\f230"; }
	@if $icon-name == "facebook-square" { content: "\f082"; }
	@if $icon-name == "fast-backward" { content: "\f049"; }
	@if $icon-name == "fast-forward" { content: "\f050"; }
	@if $icon-name == "fax" { content: "\f1ac"; }
	@if $icon-name == "feed" { content: "\f09e"; }
	@if $icon-name == "female" { content: "\f182"; }
	@if $icon-name == "fighter-jet" { content: "\f0fb"; }
	@if $icon-name == "file" { content: "\f15b"; }
	@if $icon-name == "file-archive-o" { content: "\f1c6"; }
	@if $icon-name == "file-audio-o" { content: "\f1c7"; }
	@if $icon-name == "file-code-o" { content: "\f1c9"; }
	@if $icon-name == "file-excel-o" { content: "\f1c3"; }
	@if $icon-name == "file-image-o" { content: "\f1c5"; }
	@if $icon-name == "file-movie-o" { content: "\f1c8"; }
	@if $icon-name == "file-o" { content: "\f016"; }
	@if $icon-name == "file-pdf-o" { content: "\f1c1"; }
	@if $icon-name == "file-photo-o" { content: "\f1c5"; }
	@if $icon-name == "file-picture-o" { content: "\f1c5"; }
	@if $icon-name == "file-powerpoint-o" { content: "\f1c4"; }
	@if $icon-name == "file-sound-o" { content: "\f1c7"; }
	@if $icon-name == "file-text" { content: "\f15c"; }
	@if $icon-name == "file-text-o" { content: "\f0f6"; }
	@if $icon-name == "file-video-o" { content: "\f1c8"; }
	@if $icon-name == "file-word-o" { content: "\f1c2"; }
	@if $icon-name == "file-zip-o" { content: "\f1c6"; }
	@if $icon-name == "files-o" { content: "\f0c5"; }
	@if $icon-name == "film" { content: "\f008"; }
	@if $icon-name == "filter" { content: "\f0b0"; }
	@if $icon-name == "fire" { content: "\f06d"; }
	@if $icon-name == "fire-extinguisher" { content: "\f134"; }
	@if $icon-name == "firefox" { content: "\f269"; }
	@if $icon-name == "flag" { content: "\f024"; }
	@if $icon-name == "flag-checkered" { content: "\f11e"; }
	@if $icon-name == "flag-o" { content: "\f11d"; }
	@if $icon-name == "flash" { content: "\f0e7"; }
	@if $icon-name == "flask" { content: "\f0c3"; }
	@if $icon-name == "flickr" { content: "\f16e"; }
	@if $icon-name == "floppy-o" { content: "\f0c7"; }
	@if $icon-name == "folder" { content: "\f07b"; }
	@if $icon-name == "folder-o" { content: "\f114"; }
	@if $icon-name == "folder-open" { content: "\f07c"; }
	@if $icon-name == "folder-open-o" { content: "\f115"; }
	@if $icon-name == "font" { content: "\f031"; }
	@if $icon-name == "fonticons" { content: "\f280"; }
	@if $icon-name == "forumbee" { content: "\f211"; }
	@if $icon-name == "forward" { content: "\f04e"; }
	@if $icon-name == "foursquare" { content: "\f180"; }
	@if $icon-name == "frown-o" { content: "\f119"; }
	@if $icon-name == "futbol-o" { content: "\f1e3"; }
	@if $icon-name == "gamepad" { content: "\f11b"; }
	@if $icon-name == "gavel" { content: "\f0e3"; }
	@if $icon-name == "gbp" { content: "\f154"; }
	@if $icon-name == "ge" { content: "\f1d1"; }
	@if $icon-name == "gear" { content: "\f013"; }
	@if $icon-name == "gears" { content: "\f085"; }
	@if $icon-name == "genderless" { content: "\f22d"; }
	@if $icon-name == "get-pocket" { content: "\f265"; }
	@if $icon-name == "gg" { content: "\f260"; }
	@if $icon-name == "gg-circle" { content: "\f261"; }
	@if $icon-name == "gift" { content: "\f06b"; }
	@if $icon-name == "git" { content: "\f1d3"; }
	@if $icon-name == "git-square" { content: "\f1d2"; }
	@if $icon-name == "github" { content: "\f09b"; }
	@if $icon-name == "github-alt" { content: "\f113"; }
	@if $icon-name == "github-square" { content: "\f092"; }
	@if $icon-name == "gittip" { content: "\f184"; }
	@if $icon-name == "glass" { content: "\f000"; }
	@if $icon-name == "globe" { content: "\f0ac"; }
	@if $icon-name == "google" { content: "\f1a0"; }
	@if $icon-name == "google-plus" { content: "\f0d5"; }
	@if $icon-name == "google-plus-square" { content: "\f0d4"; }
	@if $icon-name == "google-wallet" { content: "\f1ee"; }
	@if $icon-name == "graduation-cap" { content: "\f19d"; }
	@if $icon-name == "gratipay" { content: "\f184"; }
	@if $icon-name == "group" { content: "\f0c0"; }
	@if $icon-name == "h-square" { content: "\f0fd"; }
	@if $icon-name == "hacker-news" { content: "\f1d4"; }
	@if $icon-name == "hand-grab-o" { content: "\f255"; }
	@if $icon-name == "hand-lizard-o" { content: "\f258"; }
	@if $icon-name == "hand-o-down" { content: "\f0a7"; }
	@if $icon-name == "hand-o-left" { content: "\f0a5"; }
	@if $icon-name == "hand-o-right" { content: "\f0a4"; }
	@if $icon-name == "hand-o-up" { content: "\f0a6"; }
	@if $icon-name == "hand-paper-o" { content: "\f256"; }
	@if $icon-name == "hand-peace-o" { content: "\f25b"; }
	@if $icon-name == "hand-pointer-o" { content: "\f25a"; }
	@if $icon-name == "hand-rock-o" { content: "\f255"; }
	@if $icon-name == "hand-scissors-o" { content: "\f257"; }
	@if $icon-name == "hand-spock-o" { content: "\f259"; }
	@if $icon-name == "hand-stop-o" { content: "\f256"; }
	@if $icon-name == "hdd-o" { content: "\f0a0"; }
	@if $icon-name == "header" { content: "\f1dc"; }
	@if $icon-name == "headphones" { content: "\f025"; }
	@if $icon-name == "heart" { content: "\f004"; }
	@if $icon-name == "heart-o" { content: "\f08a"; }
	@if $icon-name == "heartbeat" { content: "\f21e"; }
	@if $icon-name == "history" { content: "\f1da"; }
	@if $icon-name == "home" { content: "\f015"; }
	@if $icon-name == "hospital-o" { content: "\f0f8"; }
	@if $icon-name == "hotel" { content: "\f236"; }
	@if $icon-name == "hourglass" { content: "\f254"; }
	@if $icon-name == "hourglass-1" { content: "\f251"; }
	@if $icon-name == "hourglass-2" { content: "\f252"; }
	@if $icon-name == "hourglass-3" { content: "\f253"; }
	@if $icon-name == "hourglass-end" { content: "\f253"; }
	@if $icon-name == "hourglass-half" { content: "\f252"; }
	@if $icon-name == "hourglass-o" { content: "\f250"; }
	@if $icon-name == "hourglass-start" { content: "\f251"; }
	@if $icon-name == "houzz" { content: "\f27c"; }
	@if $icon-name == "html5" { content: "\f13b"; }
	@if $icon-name == "i-cursor" { content: "\f246"; }
	@if $icon-name == "ils" { content: "\f20b"; }
	@if $icon-name == "image" { content: "\f03e"; }
	@if $icon-name == "inbox" { content: "\f01c"; }
	@if $icon-name == "indent" { content: "\f03c"; }
	@if $icon-name == "industry" { content: "\f275"; }
	@if $icon-name == "info" { content: "\f129"; }
	@if $icon-name == "info-circle" { content: "\f05a"; }
	@if $icon-name == "inr" { content: "\f156"; }
	@if $icon-name == "instagram" { content: "\f16d"; }
	@if $icon-name == "institution" { content: "\f19c"; }
	@if $icon-name == "internet-explorer" { content: "\f26b"; }
	@if $icon-name == "intersex" { content: "\f224"; }
	@if $icon-name == "ioxhost" { content: "\f208"; }
	@if $icon-name == "italic" { content: "\f033"; }
	@if $icon-name == "joomla" { content: "\f1aa"; }
	@if $icon-name == "jpy" { content: "\f157"; }
	@if $icon-name == "jsfiddle" { content: "\f1cc"; }
	@if $icon-name == "key" { content: "\f084"; }
	@if $icon-name == "keyboard-o" { content: "\f11c"; }
	@if $icon-name == "krw" { content: "\f159"; }
	@if $icon-name == "language" { content: "\f1ab"; }
	@if $icon-name == "laptop" { content: "\f109"; }
	@if $icon-name == "lastfm" { content: "\f202"; }
	@if $icon-name == "lastfm-square" { content: "\f203"; }
	@if $icon-name == "leaf" { content: "\f06c"; }
	@if $icon-name == "leanpub" { content: "\f212"; }
	@if $icon-name == "legal" { content: "\f0e3"; }
	@if $icon-name == "lemon-o" { content: "\f094"; }
	@if $icon-name == "level-down" { content: "\f149"; }
	@if $icon-name == "level-up" { content: "\f148"; }
	@if $icon-name == "life-bouy" { content: "\f1cd"; }
	@if $icon-name == "life-buoy" { content: "\f1cd"; }
	@if $icon-name == "life-ring" { content: "\f1cd"; }
	@if $icon-name == "life-saver" { content: "\f1cd"; }
	@if $icon-name == "lightbulb-o" { content: "\f0eb"; }
	@if $icon-name == "line-chart" { content: "\f201"; }
	@if $icon-name == "link" { content: "\f0c1"; }
	@if $icon-name == "linkedin" { content: "\f0e1"; }
	@if $icon-name == "linkedin-square" { content: "\f08c"; }
	@if $icon-name == "linux" { content: "\f17c"; }
	@if $icon-name == "list" { content: "\f03a"; }
	@if $icon-name == "list-alt" { content: "\f022"; }
	@if $icon-name == "list-ol" { content: "\f0cb"; }
	@if $icon-name == "list-ul" { content: "\f0ca"; }
	@if $icon-name == "location-arrow" { content: "\f124"; }
	@if $icon-name == "lock" { content: "\f023"; }
	@if $icon-name == "long-arrow-down" { content: "\f175"; }
	@if $icon-name == "long-arrow-left" { content: "\f177"; }
	@if $icon-name == "long-arrow-right" { content: "\f178"; }
	@if $icon-name == "long-arrow-up" { content: "\f176"; }
	@if $icon-name == "magic" { content: "\f0d0"; }
	@if $icon-name == "magnet" { content: "\f076"; }
	@if $icon-name == "mail-forward" { content: "\f064"; }
	@if $icon-name == "mail-reply" { content: "\f112"; }
	@if $icon-name == "mail-reply-all" { content: "\f122"; }
	@if $icon-name == "male" { content: "\f183"; }
	@if $icon-name == "map" { content: "\f279"; }
	@if $icon-name == "map-marker" { content: "\f041"; }
	@if $icon-name == "map-o" { content: "\f278"; }
	@if $icon-name == "map-pin" { content: "\f276"; }
	@if $icon-name == "map-signs" { content: "\f277"; }
	@if $icon-name == "mars" { content: "\f222"; }
	@if $icon-name == "mars-double" { content: "\f227"; }
	@if $icon-name == "mars-stroke" { content: "\f229"; }
	@if $icon-name == "mars-stroke-h" { content: "\f22b"; }
	@if $icon-name == "mars-stroke-v" { content: "\f22a"; }
	@if $icon-name == "maxcdn" { content: "\f136"; }
	@if $icon-name == "meanpath" { content: "\f20c"; }
	@if $icon-name == "medium" { content: "\f23a"; }
	@if $icon-name == "medkit" { content: "\f0fa"; }
	@if $icon-name == "meh-o" { content: "\f11a"; }
	@if $icon-name == "mercury" { content: "\f223"; }
	@if $icon-name == "microphone" { content: "\f130"; }
	@if $icon-name == "microphone-slash" { content: "\f131"; }
	@if $icon-name == "minus" { content: "\f068"; }
	@if $icon-name == "minus-circle" { content: "\f056"; }
	@if $icon-name == "minus-square" { content: "\f146"; }
	@if $icon-name == "minus-square-o" { content: "\f147"; }
	@if $icon-name == "mobile" { content: "\f10b"; }
	@if $icon-name == "mobile-phone" { content: "\f10b"; }
	@if $icon-name == "money" { content: "\f0d6"; }
	@if $icon-name == "moon-o" { content: "\f186"; }
	@if $icon-name == "mortar-board" { content: "\f19d"; }
	@if $icon-name == "motorcycle" { content: "\f21c"; }
	@if $icon-name == "mouse-pointer" { content: "\f245"; }
	@if $icon-name == "music" { content: "\f001"; }
	@if $icon-name == "navicon" { content: "\f0c9"; }
	@if $icon-name == "neuter" { content: "\f22c"; }
	@if $icon-name == "newspaper-o" { content: "\f1ea"; }
	@if $icon-name == "object-group" { content: "\f247"; }
	@if $icon-name == "object-ungroup" { content: "\f248"; }
	@if $icon-name == "odnoklassniki" { content: "\f263"; }
	@if $icon-name == "odnoklassniki-square" { content: "\f264"; }
	@if $icon-name == "opencart" { content: "\f23d"; }
	@if $icon-name == "openid" { content: "\f19b"; }
	@if $icon-name == "opera" { content: "\f26a"; }
	@if $icon-name == "optin-monster" { content: "\f23c"; }
	@if $icon-name == "outdent" { content: "\f03b"; }
	@if $icon-name == "pagelines" { content: "\f18c"; }
	@if $icon-name == "paint-brush" { content: "\f1fc"; }
	@if $icon-name == "paper-plane" { content: "\f1d8"; }
	@if $icon-name == "paper-plane-o" { content: "\f1d9"; }
	@if $icon-name == "paperclip" { content: "\f0c6"; }
	@if $icon-name == "paragraph" { content: "\f1dd"; }
	@if $icon-name == "paste" { content: "\f0ea"; }
	@if $icon-name == "pause" { content: "\f04c"; }
	@if $icon-name == "paw" { content: "\f1b0"; }
	@if $icon-name == "paypal" { content: "\f1ed"; }
	@if $icon-name == "pencil" { content: "\f040"; }
	@if $icon-name == "pencil-square" { content: "\f14b"; }
	@if $icon-name == "pencil-square-o" { content: "\f044"; }
	@if $icon-name == "phone" { content: "\f095"; }
	@if $icon-name == "phone-square" { content: "\f098"; }
	@if $icon-name == "photo" { content: "\f03e"; }
	@if $icon-name == "picture-o" { content: "\f03e"; }
	@if $icon-name == "pie-chart" { content: "\f200"; }
	@if $icon-name == "pied-piper" { content: "\f1a7"; }
	@if $icon-name == "pied-piper-alt" { content: "\f1a8"; }
	@if $icon-name == "pinterest" { content: "\f0d2"; }
	@if $icon-name == "pinterest-p" { content: "\f231"; }
	@if $icon-name == "pinterest-square" { content: "\f0d3"; }
	@if $icon-name == "plane" { content: "\f072"; }
	@if $icon-name == "play" { content: "\f04b"; }
	@if $icon-name == "play-circle" { content: "\f144"; }
	@if $icon-name == "play-circle-o" { content: "\f01d"; }
	@if $icon-name == "plug" { content: "\f1e6"; }
	@if $icon-name == "plus" { content: "\f067"; }
	@if $icon-name == "plus-circle" { content: "\f055"; }
	@if $icon-name == "plus-square" { content: "\f0fe"; }
	@if $icon-name == "plus-square-o" { content: "\f196"; }
	@if $icon-name == "power-off" { content: "\f011"; }
	@if $icon-name == "print" { content: "\f02f"; }
	@if $icon-name == "puzzle-piece" { content: "\f12e"; }
	@if $icon-name == "qq" { content: "\f1d6"; }
	@if $icon-name == "qrcode" { content: "\f029"; }
	@if $icon-name == "question" { content: "\f128"; }
	@if $icon-name == "question-circle" { content: "\f059"; }
	@if $icon-name == "quote-left" { content: "\f10d"; }
	@if $icon-name == "quote-right" { content: "\f10e"; }
	@if $icon-name == "ra" { content: "\f1d0"; }
	@if $icon-name == "random" { content: "\f074"; }
	@if $icon-name == "rebel" { content: "\f1d0"; }
	@if $icon-name == "recycle" { content: "\f1b8"; }
	@if $icon-name == "reddit" { content: "\f1a1"; }
	@if $icon-name == "reddit-square" { content: "\f1a2"; }
	@if $icon-name == "refresh" { content: "\f021"; }
	@if $icon-name == "registered" { content: "\f25d"; }
	@if $icon-name == "remove" { content: "\f00d"; }
	@if $icon-name == "renren" { content: "\f18b"; }
	@if $icon-name == "reorder" { content: "\f0c9"; }
	@if $icon-name == "repeat" { content: "\f01e"; }
	@if $icon-name == "reply" { content: "\f112"; }
	@if $icon-name == "reply-all" { content: "\f122"; }
	@if $icon-name == "retweet" { content: "\f079"; }
	@if $icon-name == "rmb" { content: "\f157"; }
	@if $icon-name == "road" { content: "\f018"; }
	@if $icon-name == "rocket" { content: "\f135"; }
	@if $icon-name == "rotate-left" { content: "\f0e2"; }
	@if $icon-name == "rotate-right" { content: "\f01e"; }
	@if $icon-name == "rouble" { content: "\f158"; }
	@if $icon-name == "rss" { content: "\f09e"; }
	@if $icon-name == "rss-square" { content: "\f143"; }
	@if $icon-name == "rub" { content: "\f158"; }
	@if $icon-name == "ruble" { content: "\f158"; }
	@if $icon-name == "rupee" { content: "\f156"; }
	@if $icon-name == "safari" { content: "\f267"; }
	@if $icon-name == "save" { content: "\f0c7"; }
	@if $icon-name == "scissors" { content: "\f0c4"; }
	@if $icon-name == "search" { content: "\f002"; }
	@if $icon-name == "search-minus" { content: "\f010"; }
	@if $icon-name == "search-plus" { content: "\f00e"; }
	@if $icon-name == "sellsy" { content: "\f213"; }
	@if $icon-name == "send" { content: "\f1d8"; }
	@if $icon-name == "send-o" { content: "\f1d9"; }
	@if $icon-name == "server" { content: "\f233"; }
	@if $icon-name == "share" { content: "\f064"; }
	@if $icon-name == "share-alt" { content: "\f1e0"; }
	@if $icon-name == "share-alt-square" { content: "\f1e1"; }
	@if $icon-name == "share-square" { content: "\f14d"; }
	@if $icon-name == "share-square-o" { content: "\f045"; }
	@if $icon-name == "shekel" { content: "\f20b"; }
	@if $icon-name == "sheqel" { content: "\f20b"; }
	@if $icon-name == "shield" { content: "\f132"; }
	@if $icon-name == "ship" { content: "\f21a"; }
	@if $icon-name == "shirtsinbulk" { content: "\f214"; }
	@if $icon-name == "shopping-cart" { content: "\f07a"; }
	@if $icon-name == "sign-in" { content: "\f090"; }
	@if $icon-name == "sign-out" { content: "\f08b"; }
	@if $icon-name == "signal" { content: "\f012"; }
	@if $icon-name == "simplybuilt" { content: "\f215"; }
	@if $icon-name == "sitemap" { content: "\f0e8"; }
	@if $icon-name == "skyatlas" { content: "\f216"; }
	@if $icon-name == "skype" { content: "\f17e"; }
	@if $icon-name == "slack" { content: "\f198"; }
	@if $icon-name == "sliders" { content: "\f1de"; }
	@if $icon-name == "slideshare" { content: "\f1e7"; }
	@if $icon-name == "smile-o" { content: "\f118"; }
	@if $icon-name == "soccer-ball-o" { content: "\f1e3"; }
	@if $icon-name == "sort" { content: "\f0dc"; }
	@if $icon-name == "sort-alpha-asc" { content: "\f15d"; }
	@if $icon-name == "sort-alpha-desc" { content: "\f15e"; }
	@if $icon-name == "sort-amount-asc" { content: "\f160"; }
	@if $icon-name == "sort-amount-desc" { content: "\f161"; }
	@if $icon-name == "sort-asc" { content: "\f0de"; }
	@if $icon-name == "sort-desc" { content: "\f0dd"; }
	@if $icon-name == "sort-down" { content: "\f0dd"; }
	@if $icon-name == "sort-numeric-asc" { content: "\f162"; }
	@if $icon-name == "sort-numeric-desc" { content: "\f163"; }
	@if $icon-name == "sort-up" { content: "\f0de"; }
	@if $icon-name == "soundcloud" { content: "\f1be"; }
	@if $icon-name == "space-shuttle" { content: "\f197"; }
	@if $icon-name == "spinner" { content: "\f110"; }
	@if $icon-name == "spoon" { content: "\f1b1"; }
	@if $icon-name == "spotify" { content: "\f1bc"; }
	@if $icon-name == "square" { content: "\f0c8"; }
	@if $icon-name == "square-o" { content: "\f096"; }
	@if $icon-name == "stack-exchange" { content: "\f18d"; }
	@if $icon-name == "stack-overflow" { content: "\f16c"; }
	@if $icon-name == "star" { content: "\f005"; }
	@if $icon-name == "star-half" { content: "\f089"; }
	@if $icon-name == "star-half-empty" { content: "\f123"; }
	@if $icon-name == "star-half-full" { content: "\f123"; }
	@if $icon-name == "star-half-o" { content: "\f123"; }
	@if $icon-name == "star-o" { content: "\f006"; }
	@if $icon-name == "steam" { content: "\f1b6"; }
	@if $icon-name == "steam-square" { content: "\f1b7"; }
	@if $icon-name == "step-backward" { content: "\f048"; }
	@if $icon-name == "step-forward" { content: "\f051"; }
	@if $icon-name == "stethoscope" { content: "\f0f1"; }
	@if $icon-name == "sticky-note" { content: "\f249"; }
	@if $icon-name == "sticky-note-o" { content: "\f24a"; }
	@if $icon-name == "stop" { content: "\f04d"; }
	@if $icon-name == "street-view" { content: "\f21d"; }
	@if $icon-name == "strikethrough" { content: "\f0cc"; }
	@if $icon-name == "stumbleupon" { content: "\f1a4"; }
	@if $icon-name == "stumbleupon-circle" { content: "\f1a3"; }
	@if $icon-name == "subscript" { content: "\f12c"; }
	@if $icon-name == "subway" { content: "\f239"; }
	@if $icon-name == "suitcase" { content: "\f0f2"; }
	@if $icon-name == "sun-o" { content: "\f185"; }
	@if $icon-name == "superscript" { content: "\f12b"; }
	@if $icon-name == "support" { content: "\f1cd"; }
	@if $icon-name == "table" { content: "\f0ce"; }
	@if $icon-name == "tablet" { content: "\f10a"; }
	@if $icon-name == "tachometer" { content: "\f0e4"; }
	@if $icon-name == "tag" { content: "\f02b"; }
	@if $icon-name == "tags" { content: "\f02c"; }
	@if $icon-name == "tasks" { content: "\f0ae"; }
	@if $icon-name == "taxi" { content: "\f1ba"; }
	@if $icon-name == "television" { content: "\f26c"; }
	@if $icon-name == "tencent-weibo" { content: "\f1d5"; }
	@if $icon-name == "terminal" { content: "\f120"; }
	@if $icon-name == "text-height" { content: "\f034"; }
	@if $icon-name == "text-width" { content: "\f035"; }
	@if $icon-name == "th" { content: "\f00a"; }
	@if $icon-name == "th-large" { content: "\f009"; }
	@if $icon-name == "th-list" { content: "\f00b"; }
	@if $icon-name == "thumb-tack" { content: "\f08d"; }
	@if $icon-name == "thumbs-down" { content: "\f165"; }
	@if $icon-name == "thumbs-o-down" { content: "\f088"; }
	@if $icon-name == "thumbs-o-up" { content: "\f087"; }
	@if $icon-name == "thumbs-up" { content: "\f164"; }
	@if $icon-name == "ticket" { content: "\f145"; }
	@if $icon-name == "times" { content: "\f00d"; }
	@if $icon-name == "times-circle" { content: "\f057"; }
	@if $icon-name == "times-circle-o" { content: "\f05c"; }
	@if $icon-name == "tint" { content: "\f043"; }
	@if $icon-name == "toggle-down" { content: "\f150"; }
	@if $icon-name == "toggle-left" { content: "\f191"; }
	@if $icon-name == "toggle-off" { content: "\f204"; }
	@if $icon-name == "toggle-on" { content: "\f205"; }
	@if $icon-name == "toggle-right" { content: "\f152"; }
	@if $icon-name == "toggle-up" { content: "\f151"; }
	@if $icon-name == "trademark" { content: "\f25c"; }
	@if $icon-name == "train" { content: "\f238"; }
	@if $icon-name == "transgender" { content: "\f224"; }
	@if $icon-name == "transgender-alt" { content: "\f225"; }
	@if $icon-name == "trash" { content: "\f1f8"; }
	@if $icon-name == "trash-o" { content: "\f014"; }
	@if $icon-name == "tree" { content: "\f1bb"; }
	@if $icon-name == "trello" { content: "\f181"; }
	@if $icon-name == "tripadvisor" { content: "\f262"; }
	@if $icon-name == "trophy" { content: "\f091"; }
	@if $icon-name == "truck" { content: "\f0d1"; }
	@if $icon-name == "try" { content: "\f195"; }
	@if $icon-name == "tty" { content: "\f1e4"; }
	@if $icon-name == "tumblr" { content: "\f173"; }
	@if $icon-name == "tumblr-square" { content: "\f174"; }
	@if $icon-name == "turkish-lira" { content: "\f195"; }
	@if $icon-name == "tv" { content: "\f26c"; }
	@if $icon-name == "twitch" { content: "\f1e8"; }
	@if $icon-name == "twitter" { content: "\f099"; }
	@if $icon-name == "twitter-square" { content: "\f081"; }
	@if $icon-name == "umbrella" { content: "\f0e9"; }
	@if $icon-name == "underline" { content: "\f0cd"; }
	@if $icon-name == "undo" { content: "\f0e2"; }
	@if $icon-name == "university" { content: "\f19c"; }
	@if $icon-name == "unlink" { content: "\f127"; }
	@if $icon-name == "unlock" { content: "\f09c"; }
	@if $icon-name == "unlock-alt" { content: "\f13e"; }
	@if $icon-name == "unsorted" { content: "\f0dc"; }
	@if $icon-name == "upload" { content: "\f093"; }
	@if $icon-name == "usd" { content: "\f155"; }
	@if $icon-name == "user" { content: "\f007"; }
	@if $icon-name == "user-md" { content: "\f0f0"; }
	@if $icon-name == "user-plus" { content: "\f234"; }
	@if $icon-name == "user-secret" { content: "\f21b"; }
	@if $icon-name == "user-times" { content: "\f235"; }
	@if $icon-name == "users" { content: "\f0c0"; }
	@if $icon-name == "venus" { content: "\f221"; }
	@if $icon-name == "venus-double" { content: "\f226"; }
	@if $icon-name == "venus-mars" { content: "\f228"; }
	@if $icon-name == "viacoin" { content: "\f237"; }
	@if $icon-name == "video-camera" { content: "\f03d"; }
	@if $icon-name == "vimeo" { content: "\f27d"; }
	@if $icon-name == "vimeo-square" { content: "\f194"; }
	@if $icon-name == "vine" { content: "\f1ca"; }
	@if $icon-name == "vk" { content: "\f189"; }
	@if $icon-name == "volume-down" { content: "\f027"; }
	@if $icon-name == "volume-off" { content: "\f026"; }
	@if $icon-name == "volume-up" { content: "\f028"; }
	@if $icon-name == "warning" { content: "\f071"; }
	@if $icon-name == "wechat" { content: "\f1d7"; }
	@if $icon-name == "weibo" { content: "\f18a"; }
	@if $icon-name == "weixin" { content: "\f1d7"; }
	@if $icon-name == "whatsapp" { content: "\f232"; }
	@if $icon-name == "wheelchair" { content: "\f193"; }
	@if $icon-name == "wifi" { content: "\f1eb"; }
	@if $icon-name == "wikipedia-w" { content: "\f266"; }
	@if $icon-name == "windows" { content: "\f17a"; }
	@if $icon-name == "won" { content: "\f159"; }
	@if $icon-name == "wordpress" { content: "\f19a"; }
	@if $icon-name == "wrench" { content: "\f0ad"; }
	@if $icon-name == "xing" { content: "\f168"; }
	@if $icon-name == "xing-square" { content: "\f169"; }
	@if $icon-name == "y-combinator" { content: "\f23b"; }
	@if $icon-name == "y-combinator-square" { content: "\f1d4"; }
	@if $icon-name == "yahoo" { content: "\f19e"; }
	@if $icon-name == "yc" { content: "\f23b"; }
	@if $icon-name == "yc-square" { content: "\f1d4"; }
	@if $icon-name == "yelp" { content: "\f1e9"; }
	@if $icon-name == "yen" { content: "\f157"; }
	@if $icon-name == "youtube" { content: "\f167"; }
	@if $icon-name == "youtube-play" { content: "\f16a"; }
	@if $icon-name == "youtube-square" { content: "\f166"; }
}